<!-- Toolbar -->
<div class="toolbar" role="banner">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <div class="mx-2">
        <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" alt="Test Image" height="40"/>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <p-button label="Login" icon="pi pi-user" styleClass="p-button-link"></p-button>
    </ng-template>
  </p-menubar>
</div>

<div class="content mt-4" role="main">
  <!-- Records -->
  <p-card header="Название записи" subheader="Время создания">
    <div class="flex align-items-center mx-6">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et urna fringilla, volutpat elit non,
        tristique
        turpis. Nullam auctor, eros vitae aliquam eleifend, tortor sapien pretium massa, non ultricies neque magna
        quis nibh.
      </p>
      <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image" width="250"
               [preview]="true"></p-image>
    </div>
  </p-card>

  <!-- Footer -->
  <footer>
  </footer>
</div>
